textarea { width:600px;height:100px }
.ShipToAddressType {font-weight:bold;font-size: 1.5em;text-decoration: underline;text-align: center;text-indent=100px}
.Warning {font-weight:bold;color:red;}
.AddressAboveButtons {font-size: 1em; font-style: italic;}
.AddressAboveButtons_selected {font-size: 1em; font-style: italic;font-weight:bold;color: darkred;}
.RequiredField {font-weight:bold}
.OptionalField {}
.OutputLabelDesc {font-weight:bold; font-size: 1em;text-align: right;}
.OutputLabelData {font-weight:bold; font-size: 1em;}
.OutputTableHeader {font-weight:bold; font-size: 1.5em;float: center;display: inline;text-align: center;}
.OutputTableCellData {font-weight:bold; font-size: 1em;text-align: right;}
.HeaderData {font-weight:bold; font-size: 1em;}
.selectedtext {font-weight:bold; font-size: 1em;text-align: center;background-color: darkred;color: white;}
.requiredBlock {
    background-color: #C00;
    position: absolute;
    left: -4px;
    width: 3px;
    top: 1px;
    bottom: 1px;}
.StrongMessage {font-weight:bold; font-size: 1.5em;text-align:center;color:white;background-color:#6374AB;width: 100%;}
.HeaderLabel {font-weight:bold; font-size: 1em;text-align:center;}
.RowName {font-weight:bold; font-size: 1.5em;text-align:right;}

